<div class="col-sm-2"> 

  <a ui-sref="modal.sublist.mainCategory">
    <div class="form-category">
      <img src= <%= image_url('car.svg') %>  width="50" height="50">
      <span>{{$ctrl.category.name}}</span>
    </div>
  </a>
</div>

        