<footer class="panel-footer">
  <div class="container headfoot">
     <a href="index.html" class="pull-left"><div id="logo-img"></div></a>
     <div class="row">
       
      <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-4">
              <a href="#">Location Map</a></br>
              <a href="#">Popular Searches</a></br>
              <a href="#">Archive</a></br>
              <a href="#">Sitemap</a></br>
              <a href="#">Featured Ads</a>
            </div>
            <div class="col-sm-4">
              <a href="#">Terms of Use</a></br>
              <a href="#">Help &amp Contact Us</a></br>
              
            </div>
            <div class="col-sm-4">
              <a href="#">Location Map</a></br>
              <a href="#">Popular Searches</a></br>
              <a href="#">Archive</a></br>
              <a href="#">Sitemap</a></br>
              <a href="#">Featured Ads</a>
            </div>
          </div>
      </div>
    
    <div class="col-sm-4">
      
    </div>
     </div>
     
  </div>
  
</footer>