<!DOCTYPE html>
<html lang="en" ng-app="spa">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "spa", :media => "all" %>
    <%= javascript_include_tag "spa" %>
  </head>
  <body>

    

     <nav class="navbar">
  <div class="container headfoot" id="header">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a href="index.html" class="pull-left"><div id="logo-img"></div></a>
      <a class="navbar-brand" href="#">Nepal's Largest Marketplace</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      
      
      <ul  id="navlist-right" class="nav navbar-nav navbar-right ">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
        <li><button type="button" class="btn btn-primary btn-lg">Submit a Free Add</button></li>
      </ul>
    </div>

    <div class="well" id="searchbox">
        <div class="row">
    <div class="col-xs-4">
      <div class="inner-addon left-addon">
        <span class="glyphicon glyphicon-map-marker" style="color:grey"></span>
      <input type="text" class="form-control" placeholder="All Nepal">
</div>

    </div>
    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder=".col-xs-3">
    </div>
    <div class="col-xs-2">
      <button type="submit" class="btn btn-primarybtn-md">Submit</button>
    </div>
  </div>
</nav>
  
<div class="container">   
<div class="row">
  
    <div class="col-sm-1">
      
    </div>

    <div class="col-sm-6" id="categories">
    
      <div class="row" id="row1">
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src="images/car.svg"   width="50" height="50">
              <span>Cars</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src="images/real_state.svg" width="50" height="50">
              <span>Real State</span>
            </div>
          </a>
        </div>
          <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src="images/mobiles.png" width="50" height="50">
              <span>Mobiles</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 ">        
          <a href="#">
            <div class="category-tile ">
              <img src="images/computer.svg" width="50" height="50">
              <span >Electronics &amp Appliances</span>
            </div>
          </a>
        </div>
        </div>

      <div class="row" id="row2">
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src="images/reunion.svg" width="50" height="50">
              <span>Jobs</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src="images/motor-sports.svg" cwidth="50" height="50">
              <span>Bikes</span>
            </div>
          </a>
        </div>
          <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src="images/furniture.svg" width="50" height="50">
              <span>Furniture</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 ">        
          <a href="#">
            <div class="category-tile">
              <img src="images/graduation.svg" width="50" height="50">
              <span>Books, Sports &amp Hobbies</span>
            </div>
          </a>
        </div>
        </div>

        <div class="row" id="row3">
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src="images/shirt.svg" width="50" height="50">
              <span>Fashion</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src="images/dog.svg" width="50" height="50">
              <span>Pets</span>
            </div>
          </a>
        </div>
          <div class="col-sm-3 grid">        
          <a href="#">
            <div class="category-tile">
              <img src="images/wrench.svg" width="50" height="50">
              <span>Services</span>
            </div>
          </a>
        </div>
        <div class="col-sm-3 ">        
          <a href="#">
            <div class="category-tile">
              <img src="" >
              <span class="text-center"></span>
            </div>
          </a>
        </div>
        </div>
      </div> 

 <div class="col-sm-5">
      
    </div>
</div> 
</div>

<footer class="panel-footer">
  <div class="container headfoot">
     <a href="index.html" class="pull-left"><div id="logo-img"></div></a>
     <div class="row">
       
      <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-4">
              <a href="#">Location Map</a></br>
              <a href="#">Popular Searches</a></br>
              <a href="#">Archive</a></br>
              <a href="#">Sitemap</a></br>
              <a href="#">Featured Ads</a>
            </div>
            <div class="col-sm-4">
              <a href="#">Terms of Use</a></br>
              <a href="#">Help &amp Contact Us</a></br>
              
            </div>
            <div class="col-sm-4">
              <a href="#">Location Map</a></br>
              <a href="#">Popular Searches</a></br>
              <a href="#">Archive</a></br>
              <a href="#">Sitemap</a></br>
              <a href="#">Featured Ads</a>
            </div>
          </div>
      </div>
    
    <div class="col-sm-4">
      
    </div>
     </div>
     
  </div>
  
</footer>

      <!-- Main component for a primary marketing message or call to action -->
      
    </div> <!-- /container -->
       <ui-view></ui-view>
    </div>

  </body>
</html>