<div id="ad-nav">
	<div  class="container">
		<div  class="row">
			<div class="col-sm-1"></div>

			<div   class="col-sm-10">
				<div id="content">
					<ol id="breadcrumbs">
						<li id="back_link">
							<a ui-sref="public.home"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back</a>
						</li>
						<li class="breadcrumb-item">
							<a>Ads {{$ctrl.adItem.city}}<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
						</li>
						<li class="breadcrumb-item" ng-repeat="item in $ctrl.adItem.breadcrumb">
							<a>{{item}} {{$ctrl.adItem.city}}<span ng-if="$ctrl.adItem.breadcrumb.length != $index+1" class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
						</li>					
					</ol>
				</div>			
			</div>
		   <div class="col-sm-1"></div>
		</div> 
	</div>	
</div>









