.ads_item {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: auto;
    margin-bottom: 20px;
}

/* On mouse-over, add a deeper shadow */
.ad-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.ads_item_info {
    padding: 2px 16px;
}

.ads_item_info_secondary{

}

.ads_item_photos {
	width: 100%;
}

.img-wrapper{
	background-color: #eee; 
    margin-bottom: 10px;	
}

.img_item{
	display: block;
    margin: auto;
    max-width: 100%
    height: auto;
}



