#ad-nav{
  border-top: 1px solid #eee;
  padding-top: 10px;


}
#ad-nav #content{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	padding-top: 5px;
}


.action-bar {
    padding: 15px;
    background: #F8F8F8;
    border: 1px solid #fff;    	
    height: 80px;
}

.action-bar .action-bar-btn {
    display: inline-block;
    min-width: 40px;
    text-align: center;
    text-decoration: none;
    margin-right: 25px;
}

.action-bar .action-bar-btn.fav-btn i {
    color: #aaa;
    font-size: 26px;
    margin-bottom: 5px;
}

.action-bar .action-bar-btn.fav-btn span {
    display: block;
    color: #999;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 50%;
    font: inherit;
}

.action-bar .action-bar-btn.report-btn i {
    color: #aaa;
    font-size: 26px;
    margin-bottom: 5px;
}

.action-bar .action-bar-btn.report-btn span {
    display: block;
    color: #999;
     margin: 0;
    padding: 0;
    border: 0;
    font-size: 50%;
    font: inherit;
}

.details{
    padding: 0;
    margin: 0;
    list-style-type: none;
    column-count: 2;
    
    column-width: 50px;
}
.details li{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 80%;
    
}

.details li .key{    
    font-size: 14px;
    color: #aaa;

}

.details li .value{
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.ad-description{
    margin-top: 20px;
    margin-bottom: 20px;
}

#back-btn{
    margin-left: 5px;
}

.brtop{
    border-bottom: 1px solid #aaa;
    padding-top: 10px;
}

.pdingtop10{
    padding-top: 10px;
}

.margintop30{
    padding-top: 30px;
}
.circle-phone{
    
    background: #337ab7;
    padding: 8px;
    border-radius: 100%;
    color: white;

}
.pdingbottom10{
    padding-bottom: 12px;
}

.attachmentinfo, form.answer .attachmentinfo {
    width: 240px;
}

.color-1 {
    color: #a0a0a0;
}

.lheight14 {
    line-height: 14px;
}

.marginleft14 {
    margin-left: 14px !important;
}

.x-small {
    font-size: 10px;
}

p {
    margin: 0 0 .2em;
}

.lheight28 {
    line-height: 28px;
}

.tdnone {
    text-decoration: none !important;
}

.cpointer {
    cursor: pointer;
}

.link {
    color: #097ab3;
    vertical-align: middle;
}

.link, .link:visited {
    text-decoration: underline;
}

.thumb.scale4 {
    display: block;
    height: 80px;
    line-height: 80px;
    width: 102px;
    text-align: center;
    background: #f7f7f7;
    overflow: hidden;
}

.thumb.scale4 img {
    vertical-align: middle;
    max-width: 102px;
    max-height: 80px;
    float: none;
}
.borderless td, .borderless th, .borderless tr{
    border: none !important;
}

#ad-info{
    margin-left: -50px ;
}

.lheight14 {
    line-height: 14px;
}
.table{
    margin-bottom: -5px;
}


#pricelabel {
  background: #eee;
  display: inline-block;
  height: 64px;
  line-height: 64px;
  margin-top: 15px;
  position: relative;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

#pricelabel:before {
  
  border-right: 35px solid #eee;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  content: "";
  height: 0px;
  right: 0;
  position: absolute;
  left: -35px;
  width: 0;
  
}

#phone{
    background: blue;
    height: 50px;
    width: 100%;
    margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

#contactbox{
    margin-top: 10px;
    width: 100%;
}
