#breadcrumbs {
    padding: 0;
    margin: 0;
    height: 30px;
    line-height:30px; /* line-height MUST be the same as height */
    list-style-type:none;
    
}

#breadcrumbs li {
    float: left; /*ie6/7 needs this */
    
}

#breadcrumbs #back_link{
	margin-right: 25px;
}

#breadcrumbs .breadcrumb-item a{
	padding-right: 10px;
}

#breadcrumbs .breadcrumb-item span{
	padding-left: 10px;
}