
 @media (min-width: 1200px) {
  .headfoot {
    max-width: 970px;
    
  }
body {
  font-size: 16px;
  color: #000;
  background-color: #fff;

}

/** HEADER **/
#header {
  position: relative;
  background-color: #fff;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('restaurant-logo_medium.png') no-repeat;
  width: 100px;
  height: 100px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 80px;
}
.navbar-brand h1 { /* Restaurant name */

  color: #000;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#navlist-right{
  position: absolute;
  top :60px;
  right: 15px;
}

#nav-list {
  margin-top: 10px;
  margin-left: 50px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
#adButton{
  margin-left: 10px;
}

#accountButton{
  margin-top: -10px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


#searchbox {
  margin-right: -15px;
  margin-left: 0px;
  background-color: #349bcc;

}


/* END HEADER */

/* category-tile */

#categories{
  margin-top: -21px;
  width: 490px;
}

#row1{
  border-bottom: 1px solid #eee;
}
#row2{
  border-bottom: 1px solid #eee;
}

.grid{
  border-right: 1px solid #eee;
  padding: 0px;
}

.category-tile{
  position: relative;    
  width: 100%;
  height: 110px; 
}

.category-tile img{
   position: absolute;
   margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 10px; 

}


.category-tile span{   
  position: absolute;  
  top: 65px;  
  text-align: center;
  font-size: .9em;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;

}

img{
  marks: 0 auto;
}

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #fff;
  border-top: 1px solid #eee;
}


.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
a[ui-sref="admin.auth"] {
  color: #fff;
}
/* END FOOTER */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  

  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
}
