.subcategory-modal{
	position: relative;	
	height: auto;
	width: 100%; /* Full width */
    height: 100%; 	
	border: 1px solid #e6e2e2;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: #fff;
	
}

.subcategory-modal-content{
	padding: 23px 26px;
}


.subcategory-modal::after, .subcategory-modal::before{
	content: "";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    
    border-width: 15px;
    border-style: solid;
      
}

#subcategory-modal1::before {
	left: 4%;
    margin-left: -30px;
    border-color: transparent transparent #e6e2e2 transparent; /*non transparent color same as #mybox's border-color*/
}

#subcategory-modal1::after{
	margin-top: -2px;
	left: 4%;
    margin-left: -30px;
    border-color: transparent transparent #fff transparent;  
}

#subcategory-modal2::before {
	left: 30%;
    margin-left: -30px;
    border-color: transparent transparent #e6e2e2 transparent; /*non transparent color same as #mybox's border-color*/
}

#subcategory-modal2::after{
	left: 30%;
    margin-left: -30px;
    border-color: transparent transparent #fff transparent;  
}

#subcategory-modal3::before {
	left: 56%;
    margin-left: -30px;
    border-color: transparent transparent #e6e2e2 transparent; /*non transparent color same as #mybox's border-color*/
}

#subcategory-modal3::after{
	left: 56%;
    margin-left: -30px;
    border-color: transparent transparent #fff transparent; 
}

#subcategory-modal4::before {
	left: 82%;
    margin-left: -30px;
    border-color: transparent transparent #e6e2e2 transparent; /*non transparent color same as #mybox's border-color*/
}

#subcategory-modal4::after{
	left: 82%;
    margin-left: -30px;
    border-color: transparent transparent #fff transparent; 
}

.subcategory-modal-header{
	border-bottom: 1px solid #888;
}

.subcategory-item{
	float: left;
	margin: 30px;

}







